@import "compass";
@import "compass/reset";

/* ============================================================= */
/* General */
/* ============================================================= */

body {
	background: white;
	@include box-sizing(border-box);
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

/* ============================================================= */
/* Editor */
/* ============================================================= */

#editor {
	width: 670px;
	float: left;
	border: 1px solid green;
	height: 900px; // temp
}

/* ============================================================= */
/* Sidebar */
/* ============================================================= */

#sidebar {
	width: 300px;
	float: right;
	border: 1px solid red;
	height: 900px; // temp

	.grid_cell {
		width: 75px;
		height: 75px;
		display: inline;
		margin: 0 15px 15px 0;

		&:nth-child(4n+1) {
			clear: left;
		}
		&:nth-child(4n) {
			margin-right: 0;
		}
	}
	.color {
		display: inline-block;
		@include border-radius(6px);
	}
}