@import "compass";
@import "compass/reset";

@import url(http://fonts.googleapis.com/css?family=Lato:700);

/* ============================================================= */
/* Highlight */
/* ============================================================= */

$highlight: #F79800;

/* ============================================================= */
/* General */
/* ============================================================= */

body {
	background: white;
	@include box-sizing(border-box);
	font-family: 'Lato', sans-serif;
}
a {
	text-decoration: none;
}
h3 {
	font-size: 12px;
}

.wrapper {
	// width: 1000px;
	// margin: 0 auto;
	overflow: hidden;
}

/* ============================================================= */
/* Editor */
/* ============================================================= */

// TODO: I think most of this was removed...
#editor_wrap {
	position: relative;
	width: 1024px;
	height: 768px;
	float: left;
}
.editor {
	float: left;
	border: 1px solid green;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#tshirt {
	width: 161px;
	height: 194px;
	position: absolute;
	left: 424px;
	top: 439px;
}
#tshirt_bg {
	width: 295px;
	height: 229px;
	position: absolute;
	left: 424px;
	top: 439px;
}

#editor {
	background: image-url("space.png");
}

/* ============================================================= */
/* Canvas */
/* ============================================================= */

#canvas {
	width: 1024px;
	height: 768px;
	position: absolute;
	left: 0;
	top: 0;
}

/* ============================================================= */
/* Toolbar */
/* ============================================================= */

#toolbar {
	position: fixed;
	right: 0;
	left: 1020px;
	top: 0;
	bottom: 0;
	background: #fff;
	overflow-y: scroll;
	padding-bottom: 80px;

	#hacky_logoslice {
		width: 352px;
		height: 167px;
		margin-left: 15px;
		display: block;
		background: image-url("assets/hacky_logoslice.jpg");
		background-repeat: no-repeat;
	}
	h2 {
		display: block;
		margin: 15px 0;
	}
	.num {
		background: $highlight;
		color: #fff;
		padding: 5px 10px;
		@include border-radius(0 15px 15px 0);
		margin: 0 20px 0 -2px;
	}
}
.grid {
	padding: 20px;

	h3 {
		margin-bottom: 15px;
	}
	.grid_cell {
		width: 100px;
		height: 85px;
		display: inline-block;
		margin: 0 10px 10px 0;
		text-align: center;

		img {
			max-width: 100px;
			max-height: 100px;
			margin-bottom: 10px;
		}
		&:nth-child(3n+1) {
			clear: left;
		}
		&:nth-child(3n) {
			margin-right: 0;
		}
		&.grid_cell_item {
			@include border-radius(8px);
			background: #BACFE8;
			border: 1px solid #7F7F7F;

			img {
				max-width: 80px;
				max-height: 80px;
				margin-top: 10px;
			}
		}
	}
}

#finished_buttons {
	padding: 20px;

	a {
		display: inline-block;
		font-size: 40px;
		color: $highlight;
		width: 110px;
		text-align: center;
		padding: 10px 5px;
		@include transition-property(background);
		@include transition-duration(.2s);
		@include transition-timing-function(ease-in-out);
		@include border-radius(5px);

		span {
			margin-top: 5px;
			display: block;
			width: 100%;
			font-size: 12px;
		}

		&:hover {
			background: $highlight;
			color: #fff;
		}
	}
}
#next_adventure {
	background: image-url('assets/triangle.png');
	background-repeat: no-repeat;
	background-position: center right;
	color: #fff;
	display: block;
	height: 70px;
	line-height: 70px;
	width: 350px;
	padding: 0 20px;
	margin-left: -3px;
	font-size: 25px;
}