@import "compass";
@import "compass/reset";

/* ============================================================= */
/* General */
/* ============================================================= */

body {
	background: white;
	@include box-sizing(border-box);
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

/* ============================================================= */
/* Editor */
/* ============================================================= */

#editor_wrap {
	position: relative;
	width: 1024px;
	height: 768px;
}
.editor {
	float: left;
	border: 1px solid green;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#tshirt {
	width: 227px;
	height: 177px;
	position: absolute;
	left: 405px;
	top: 365px;
}

#editor {
	background: image-url("space/tshirt.png");
}
#editor_bg {
	background: image-url("space/bg.png");
}
#editor_overlay {
	background: image-url("space/full.png");
	@include opacity(.3);
}

/* ============================================================= */
/* Sidebar */
/* ============================================================= */

#sidebar {
	width: 300px;
	float: right;
	height: 900px; // temp
	@include border-radius(6px);
	border: 2px solid #333;
	margin-top: 25px;
	overflow: hidden;

	.grid_box {
		@include background-image(linear-gradient(top, #282828, #111));
		border-bottom: 1px solid #333;
		padding: 20px;
	}
	.grid_cell {
		width: 65px;
		height: 65px;
		display: inline-block;
		margin: 0 5px 5px 0;
		@include border-radius(4px);
		border: 1px solid #333;
		@include box-shadow(0 0 0 3px,rgba(0,0,0,0.5) inset);
		position: relative;
		background: #555;

		img {
			width: 57px;
			height: 57px;
			margin: 3px;
			@include border-radius(4px);
			@include box-shadow(0 0 0 3px,rgba(0,0,0,0.5) inset);
			border: 1px solid #333;
			z-index: 1000;
			position: relative;
		}

		&:nth-child(4n+1) {
			clear: left;
		}
		&:nth-child(4n) {
			margin-right: 0;
		}
		&.current_cell {
			@include background-image(linear-gradient(top, #88ECFE, #29B7CF));
		}
		&.current_cell {
			@include background-image(linear-gradient(top, #35AFE9, #2C87BA));
			border: 1px solid #23587E;
			@include box-shadow( 0px 1px 0px 0px rgba(255, 255, 255, 0.4) inset, 0px 27px 0px 0px rgba(255, 255, 255, 0.2) inset,1px 1px 1px 1px rgba(255,255,255,.1) inset, -1px 1px 1px 1px rgba(255,255,255,.1) inset);
			@include transition-property(background);
			@include transition-duration(.035s);
			@include transition-timing-function(ease-in);
		}
	}


/*
	.grid_cell {
		width: 60px;
		height: 60px;
		display: block;
		margin: 0 4px 4px 0;
		float: left;
		position: relative;

		// Put the grid into rows
		&:nth-child(4n+1) {
			clear: left;
		}
		&:nth-child(4n) {
			margin-right: 0;
		}
		.cell_cont {
			cursor: pointer;
			position: absolute;
			top: 5px;
			left: 5px;
			width: 50px;
			height: 50px;
			display: block;
			@include border-radius($ui_border_radius + px);
			overflow: hidden;
			@include background-image($ui_gradient);
			@include box-shadow($ui_grid_cell_box_shadow);

			svg {
				fill: $ui_color;
			}
		}
		.grid_on {
			@include opacity(0);
			position:absolute;
			top: 5%;
			left: 5%;
			width: 90%;
			height: 90%;
			display: block;
			@include background-image($ui_grid_on_gradient);
			border: 1px solid $ui_grid_on_border_color;
			@include border-radius(($ui_border_radius + 4) + px);
			@include box-shadow($ui_grid_on_box_shadow);
			@include transition-property(width,height,top,left);
			@include transition-duration(.035s);
			@include transition-timing-function(ease-in);
		}
		&.open {
			.cell_cont {
				@include box-shadow($ui_grid_open_cell_box_shadow);
			}
			.grid_on {
				@include opacity(1);
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}
		}
	}
	*/

}